* {
    margin: 0;
    padding: 0;
}
.container {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6),rgba(255, 255, 255, 0)),
        url('../assets/bg/airport.png');
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 900px; */
    padding-right: 20px;
}
.input-box {
    width: 100%;
    display: flex;
    padding-top: 150px;
    justify-content: center;
}
#todo:hover {
    opacity: 1;
}
#todo:focus {
    opacity: 1;
}
.input {
    background-color: #E6E8EB;
    color: #303133;
    justify-content: center;
    height: 50px;
    width: 550px;
    padding-left: 45px;
    border: 0;
    outline: none;
    border-radius: 10px;
    font-size: 1.2rem;
    opacity: 0.7;
    overflow: auto;
}
/* .input:focus {
    opacity: 1;
} */
/* input:hover {
    opacity: 1;
} */
.material-symbols-outlined {
    position: relative;
    left: 33px;
    top: 10px;
    opacity: 1;
    z-index: 1;
}

.date-box {
    display: flex;
    justify-content: right;
    color: white;
    padding: 20px 5px;
    text-shadow: 0px 1px 1px black;
}

#countBox {
    position: relative;
    left: 30px;
    margin: 40px 0px 5px;
    display: flex;
    justify-content: center;
    color: #C0C4CC;
    font-size: 1.1rem;
    font-weight: bold;
}

.on {
    border-bottom: 2px white solid;
    font-weight: bold;
    color: white;
}

.btn-count:hover {
    cursor: pointer;
    color: white;
}
.btn-count:active {
    position: relative;
    top : 2px;
}

.modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.15);
    display: none;
    z-index: 5;
}
.todo-one {
    position: absolute;
    width: 400px;
    padding: 1.5rem;
    /* background:linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.6)); */
    background:linear-gradient(transparent, rgba(255, 255, 255, 0.6));
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 12px;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
#title {
    text-shadow: 0px 1px 2px black;
}
[contenteditable=true]:empty:before{
    content: attr(placeholder);
    color: #E4E7ED;
    display: block; /* For Firefox */
}
#memo {
    margin-top: 5px;
    font-weight: 600;
    /* height: 170px; */
    /* min-height: 20px; */
    outline: none;
    padding: 8px;
}
#memo:hover {
    cursor: text;
}
.detail {
    /* margin-top: 10px; */
}

#delete {
    margin-top: 12px;
    text-align: center;
    padding-top: 7px;
    width: 100%;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.7);
    color: red;
    box-shadow: 0 -0.5rem 1rem rgba(0 0 0 / 0.15);
    border-radius: 4px;
}
#delete:hover {
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
    font-weight: 500;
}

.toggle-btn {
    width: 100px;
    line-height: 30px;
    border: 0;
    border-radius: 4px;
    color: white;
    background-color: transparent;
}
.toggle-btn:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
}
.selectbox-option {
    position: absolute;
    left: 142.5px;
    display: flex;
    list-style: none;
    border: 0;
    border-radius: 4px;
    animation: dropdown 0.4s;
}
.selectbox-option > li {
    width: 70px;
    background-color: transparent;
}
.option-btn {
    width: inherit;
    color: white;
    line-height: 30px;
    border: 0;
    background-color: transparent;
    border-radius: 4px;
    z-index: 11;
}
.option-btn:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

/* 우선순위 버튼 드랍다운 */
@keyframes dropdown {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
    }
}

.hide {
    display: none;
}