/* #f9f7e8 배경 */
/* #63bfac 메인 */
/* #ff8fa4 포인트 */
/* #1f2247 텍스트 */
/* #F2F3F5 텍스트필드 */
/* #C0C4CC 플레이스홀더 */
* {
    margin: 0;
    padding: 0;
    /* color: #1f2247; */
}
body {
    /* x를 hidden을 주면 강제로 여백을 없앨 수 있다 */
    /* overflow-x: hidden; */
    overflow-y: auto;
}
.container {
    background: #f9f7e8;
    min-width: 620px;
}
.input-box {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}
#todo:focus {
    background-color: #F2F3F5;
}
.icon-write {
    position: absolute;
}
/* #todo {
    width: 500px;
} */
.input {
    color: #1f2247;
    background-color: white;
    /* color: #303133; */
    height: 50px;
    width: 500px;
    padding-left: 47px;
    margin-right: 20px;
    border: 0;
    outline: none;
    border-radius: 25px;
    font-size: 1.2rem;
    overflow: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.material-symbols-outlined {
    position: relative;
    left: 33px;
    top: 10px;
    opacity: 1;
    z-index: 1;
}

/* 시계 */
.date-box {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}
.date {
    display: flex;
    justify-content: right;
    color: #63bfac;
}
.week {
    font-size: 42px;
    font-weight: 500;
}
.day-box {
    position: relative;
    /* top: 23px; */
}
.day {
    margin-left: 5px;
}

/* todo & complete */
#countBox {
    position: relative;
    /* 여기가 문제였음 */
    margin: 30px 0px 5px;
    padding-left: 32px;
    display: flex;
    justify-content: center;
    color: #C0C4CC;
    font-size: 1.1rem;
    font-weight: bold;
}
.tab-border {
    position: absolute;
    top: 22px;
    background-color: transparent;
    border-bottom: 3px #63bfac solid;
    transition: all 0.3s ease-in-out;
    z-index: 10px;
}
.on {
    font-weight: bold;
    color: #63bfac;
}
.btn-count {
    padding: 0 5px;
}

.btn-count:hover {
    cursor: pointer;
    color: #63bfac;
    transition: all 0.3s;
}
.btn-count:active {
    position: relative;
    top : 2px;
}

/* 각각 정렬, 전체삭제 옵션 */
#option-box {
    display: flex;
    margin: 0 auto;
    margin-bottom: 5px;
    width: 575px;
    justify-content: right;
    color: #63bfac;
    position: relative;
}
.options {
    display: none;
    border-radius: 4px;
    padding: 3px 5px 5px 10px;
}
.options:hover {
    color: white;
    cursor: pointer;
    background-color: #63bfac;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: all 0.3s;
}
.options-add {
    background-color: #63bfac;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
/* 전체 삭제 전용 색 */
.delete-opt {
    color: #ff8fa4;
}
.delete-opt:hover {
    background-color: #ff8fa4;
    color: white;
}
.icon-arrow-drop-down {
    font-size: 18px;
    position: relative;
    left: 0;
    top: 4px;
}
/* 드랍다운 메뉴 */
.list-sort {
    position: absolute;
    top: 35px;
    height: 0;
    overflow: hidden;
    width: 73.5px;
    border-radius: 4px;
    background-color: white;
    color: #63bfac;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    z-index: 12;
    transition: all 0.3s;
}
.list-sort-on {
    height: 285%;
}
.list-sort p {
    padding: 5px;
}
.list-sort p:hover {
    cursor: pointer;
    border-radius: 4px;
    background-color: #63bfac;
    color: white;
}

.icon-remove-done {
    font-size: 18px;
    position: relative;
    left: 0;
    top: 4px;
}
/* 활성화시 */
.active {
    display: block;
}

/* todoOne 모달 */
.modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.15);
    display: none;
    justify-content: center;
    /* align-items: center; */
    z-index: 5;
}
.todo-one {
    position: absolute;
    width: 400px;
    padding: 1.5rem;
    background-color: #f9f7e8;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 12px;
    z-index: 10;
    top: 22.5%;
    color: #1f2247;
    /* animation: scaleup 0.25s; */
}
/* 모달창 확대 애니메이션 */
@keyframes scaleup {
    from {
        transform: scale(0);
    } 
    to {
        transform: scale(1);
    }
}
/* 모달창 축소 애니메이션 */
@keyframes scaledown {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}
#title {
    /* text-shadow: 0px 1px 2px black; */
}
/* memo div에 placeholder 만들기 */
[contenteditable=true]:empty:before{
    content: attr(placeholder);
    color: #C0C4CC;
    display: block; /* For Firefox */
}
#memo {
    margin-top: 5px;
    font-weight: 600;
    /* height: 170px; */
    /* min-height: 20px; */
    outline: none;
    padding: 8px;
}
#memo:hover {
    cursor: text;
    /* background-color: red;
    border-radius: 5px; */
}
#memo:focus {
    background-color: #F2F3F5;
    border-radius: 4px;
}
.detail {
    /* margin-top: 10px; */
}

#delete {
    float: right;
    margin-top: 12px;
    text-align: center;
    padding-top: 7px;
    width: 120px;
    height: 25px;
    color: #ff8fa4;
    border-radius: 4px;
}
#delete:hover {
    cursor: pointer;
    background-color: #ff8fa4;
    color: white;
    font-weight: 500;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: all 0.3s;
}
/* 우선순위 박스 */
.important-box {
    display: flex;
    justify-content: left;
    position: relative;
}

.toggle-btn {
    width: 100px;
    line-height: 30px;
    border: 0;
    border-radius: 4px;
    background-color: transparent;
    color: #63bfac;
}
.toggle-btn-on {
    background-color: #63bfac;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.toggle-btn:hover {
    cursor: pointer;
    background-color: #63bfac;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: all 0.3s;
}
.selectbox-option {
    position: absolute;
    left: 62px;
    top: 35px;
    height: 0;
    overflow: hidden;
    width: 38px;
    list-style: none;
    border: 0;
    border-radius: 4px;
    background-color: white;
    color: #63bfac;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: all 0.3s;
    /* animation: dropdown 0.4s; */
}
.selectbox-option-on {
    height: 120px;
}
.selectbox-option > li {
    width: 73.5px;
    background-color: transparent;
}
.option-btn {
    width: inherit;
    line-height: 30px;
    border: 0;
    background-color: transparent;
    border-radius: 4px;
    z-index: 11;
}
.option-btn:hover {
    background-color: #63bfac;
    color: white;
    cursor: pointer;
}

/* 우선순위 버튼 드랍다운 */
@keyframes dropdown {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
    }
}

/* .hide {
    display: none;
} */

/* select 같은 모달용 */
.modal-transparent {
    width: 100%;
    height: 100%;
    display: none;
    background-color: transparent;
    position: fixed;
    top: 0;
    z-index: 5;
}

/* 노티박스 */
.noti-box {
    /* fixed로 해야 scrollY에 상관없이 화면에 보여짐 */
    position: fixed;
    width: 100%;
    height: 40px;
    top: -50px;
    /* left: 20px; */
    display: flex;
    justify-content: center;
    animation: Noti 3s ease-in-out;
}
.noti {
    background-color: white;
    padding: 5px 10px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
/* 들어갔다 나오는 애니메이션 */
@keyframes Noti {
    0% {

    }
    15% {
        transform: translateY(60px);
    }
    85% {
        transform: translateY(60px);
    }
    100% {

    }
};
