:root {
    --color-main: #63bfac;
    --color-background: #f9f7e8;
    --color-point1: #ff8fa4;
    --color-text: #1f2247;
    --color-text-field: #F2F3F5;
    --color-placeholder: #C0C4CC;
    --shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
* {
    margin: 0;
    padding: 0;
}
body {
    /* x를 hidden을 주면 강제로 여백을 없앨 수 있다 */
    /* overflow-x: hidden; */
    overflow-y: auto;
}
.container {
    background: var(--color-background);
    min-width: 620px;
}
.input-box {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}
#todo:focus {
    background-color: var(--color-text-field);
}
.icon-write {
    position: absolute;
}
/* #todo {
    width: 500px;
} */
.input {
    color: var(--color-text);
    background-color: white;
    height: 50px;
    width: 500px;
    padding-left: 47px;
    margin-right: 20px;
    border: 0;
    outline: none;
    border-radius: 25px;
    font-size: 1.2rem;
    overflow: auto;
    box-shadow: var(--shadow);
}
input::placeholder {
    color: var(--color-placeholder);
    font-size: 0.95rem;
}

.material-symbols-outlined {
    position: relative;
    left: 33px;
    top: 10px;
    opacity: 1;
    z-index: 1;
}

/* 시계 */
.date-box {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}
.date {
    display: flex;
    justify-content: right;
    color: var(--color-main);
}
.week {
    font-size: 42px;
    font-weight: 500;
}
.day-box {
    position: relative;
    /* top: 23px; */
}
.day {
    margin-left: 5px;
}

/* todo & complete */
#countBox {
    position: relative;
    /* 여기가 문제였음 */
    margin: 30px 0px 5px;
    padding-left: 32px;
    display: flex;
    justify-content: center;
    color: var(--color-placeholder);
    font-size: 1.1rem;
    font-weight: bold;
}
.tab-border {
    position: absolute;
    top: 22px;
    background-color: transparent;
    border-bottom: 3px var(--color-main) solid;
    transition: all 0.3s ease-in-out;
    z-index: 10px;
}
.on {
    font-weight: bold;
    color: var(--color-main);
}
.btn-count {
    padding: 0 5px;
}

.btn-count:hover {
    cursor: pointer;
    color: var(--color-main);
    transition: all 0.3s;
}
.btn-count:active {
    position: relative;
    top : 2px;
}

/* 각각 정렬, 전체삭제 옵션 */
#option-box {
    display: flex;
    margin: 0 auto;
    margin-bottom: 5px;
    width: 575px;
    justify-content: right;
    color: var(--color-main);
    position: relative;
}
.options {
    display: none;
    border-radius: 4px;
    padding: 3px 5px 5px 10px;
}
.options:hover {
    color: white;
    cursor: pointer;
    background-color: var(--color-main);
    box-shadow: var(--shadow);
    transition: all 0.3s;
}
.options-add {
    background-color: var(--color-main);
    color: white;
    box-shadow: var(--shadow);
}
/* 전체 삭제 전용 색 */
.delete-opt {
    color: var(--color-point1);
}
.delete-opt:hover {
    background-color: var(--color-point1);
    color: white;
}
.icon-arrow-drop-down {
    font-size: 18px;
    position: relative;
    left: 0;
    top: 4px;
}
/* 드랍다운 메뉴 */
.list-sort {
    position: absolute;
    top: 35px;
    height: 0;
    overflow: hidden;
    width: 73.5px;
    border-radius: 4px;
    background-color: white;
    color: var(--color-main);
    box-shadow: var(--shadow);
    z-index: 12;
    transition: all 0.3s;
}
.list-sort-on {
    height: 88px;
}
.list-sort p {
    padding: 5px;
}
.list-sort p:hover {
    cursor: pointer;
    border-radius: 4px;
    background-color: var(--color-main);
    color: white;
}

.icon-remove-done {
    font-size: 18px;
    position: relative;
    left: 0;
    top: 4px;
}
/* 활성화시 */
.active {
    display: block;
}

/* 노티박스 */
.noti-box {
    /* fixed로 해야 scrollY에 상관없이 화면에 보여짐 */
    position: fixed;
    width: 100%;
    height: 40px;
    top: -50px;
    /* left: 20px; */
    display: flex;
    justify-content: center;
    animation: Noti 3s ease-in-out;
    z-index: 100;
}
.noti {
    background-color: white;
    padding: 5px 10px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    box-shadow: var(--shadow);
}
/* 들어갔다 나오는 애니메이션 */
@keyframes Noti {
    0% {

    }
    15% {
        transform: translateY(60px);
    }
    85% {
        transform: translateY(60px);
    }
    100% {

    }
};
