/* list 나오는 곳 */
.main {
    min-height: 600px;
    /* margin-top: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* 한개 todo 박스용 */
.todo-list {
    position: relative;
    display: flex;
    align-items: center;
    margin: 7px;
    animation: slide 0.3s ease-in-out;
}
/* .todo-list:hover {
    transform: scale(1.05);
} */
/* todo 리스트업 애니메이션 */
@keyframes slide {
    from {
        opacity: 0;
        left: -130px;
    }
    to {
        opacity: 1;
        left: 0px;
    }
}
.important {
    color: var(--color-point1);
    position: absolute;
    left:55px;
    top: 11px;
    z-index:1;
}
.todos {
    margin-left: 3px;
    padding-right: 28px;
    height: 40px;
    text-overflow: ellipsis;
}
.todos:focus {
    background-color: var(--color-text-field);
}

/* .chk {
    position: relative;
    width: 20px;
    height: 20px;
    left: 35px;
    z-index: 1;
    border-radius: 25%;
}
.chk:checked {
    accent-color: white;
} */

input[type="checkbox"] {
    position: relative;
    background-color: transparent;
    left: 32px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1.5px solid var(--color-main);
    appearance: none;
    cursor: pointer;
    transition: background 0.3s;
}
input[type="checkbox"]:hover {
    background-color: var(--color-main);
}

input[type="checkbox"]:checked {
    background: var(--color-background);
    border: none;
}

/* 해당 todo박스호버시 아이콘이 보임 */
.todo-list:hover .info {
    position: absolute;
    /* left: 566px; */
    left: 466px;
    display: block;
    filter: invert(68%) sepia(7%) saturate(2125%) hue-rotate(118deg) brightness(99%) contrast(89%);
    /* 파란색 필터 #3399ff*/
    /* filter: invert(48%) sepia(35%) saturate(2946%) hue-rotate(192deg) brightness(103%) contrast(102%); */
    font-size: 20px;
    z-index: 5;
    opacity: 1;
}
.info {
    display: none;
}
.todo-list:hover .info:hover {
    cursor: pointer;
}

/* 완료 체크시 색상변경 */
.complete-color {
    opacity: 1;
    animation: changecolor 1.5s ease-in;
}
@keyframes changecolor {
    0%   {background : linear-gradient( 90deg, var(--color-main) 0% 0%, white 0% 100%)}
    0.5% {background : linear-gradient( 90deg, var(--color-main) 0% 5%, white 0% 100%)}
    1%   {background : linear-gradient( 90deg, var(--color-main) 0% 10%, white 0% 100%)}
    1.5% {background : linear-gradient( 90deg, var(--color-main) 0% 15%, white 0% 100%)}
    2%   {background : linear-gradient( 90deg, var(--color-main) 0% 20%, white 0% 100%)}
    2.5% {background : linear-gradient( 90deg, var(--color-main) 0% 25%, white 0% 100%)}
    3%   {background : linear-gradient( 90deg, var(--color-main) 0% 30%, white 0% 100%)}
    3.5% {background : linear-gradient( 90deg, var(--color-main) 0% 35%, white 0% 100%)}
    4%   {background : linear-gradient( 90deg, var(--color-main) 0% 40%, white 0% 100%)}
    4.5% {background : linear-gradient( 90deg, var(--color-main) 0% 45%, white 0% 100%)}
    5%   {background : linear-gradient( 90deg, var(--color-main) 0% 50%, white 0% 100%)}
    5.5% {background : linear-gradient( 90deg, var(--color-main) 0% 55%, white 0% 100%)}
    6%   {background : linear-gradient( 90deg, var(--color-main) 0% 60%, white 0% 100%)}
    6.5% {background : linear-gradient( 90deg, var(--color-main) 0% 65%, white 0% 100%)}
    7%   {background : linear-gradient( 90deg, var(--color-main) 0% 70%, white 0% 100%)}
    7.5% {background : linear-gradient( 90deg, var(--color-main) 0% 75%, white 0% 100%)}
    8%   {background : linear-gradient( 90deg, var(--color-main) 0% 80%, white 0% 100%)}
    8.5% {background : linear-gradient( 90deg, var(--color-main) 0% 85%, white 0% 100%)}
    9%   {background : linear-gradient( 90deg, var(--color-main) 0% 90%, white 0% 100%)}
    9.5% {background : linear-gradient( 90deg, var(--color-main) 0% 95%, white 0% 100%)}
    10%  {background : linear-gradient( 90deg, var(--color-main) 0% 100%, white 0% 100%)}
    100% {background : linear-gradient( 90deg, var(--color-main) 0% 100%, white 0% 100%)}
}
/* 완료시 퇴장 애니메이션 */
.complete {
    animation: out 1.5s;   
}
/* 완료시 퇴장 애니메이션 */
@keyframes out {
    0%   { right : 0px; opacity: 1; }
    50%  { right : 0px; opacity: 1; }
    100% { right: -500px; opacity: 0; }
}

.alert-goal {
    position: absolute;
    right: 7px;
    top: -12px;
    font-size: 13px;
    display : flex;
    justify-content : center;
    align-items: center;
    padding: 1px 5px;
    box-shadow: var(--shadow);
    border-radius: 4px;
    color: white;
    cursor: default;
}
.alert-today {
    background-color: var(--color-point1);
}
.alert-late {
    background-color: var(--color-placeholder);
}
.alert-someday {
    background-color: var(--color-main);
}
