/* * {
    margin: 0;
    padding: 0;
} */
/* list 나오는 곳 */
.main {
    min-height: 600px;
    /* margin-top: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* 한개 todo 박스용 */
.todo-list {
    position: relative;
    display: flex;
    align-items: center;
    margin: 7px;
    animation: slide 0.3s ease-in-out;
}
/* todo 리스트업 애니메이션 */
@keyframes slide {
    from {
        opacity: 0;
        left: -130px;
    }
    to {
        opacity: 1;
        left: 0px;
    }
}
.important {
    color:rgba(255, 0, 0, 0.8);
    position: absolute;
    left:53px;
    top: 11px;
    z-index:1;
}
.todos {
    margin-left: 3px;
    height: 40px;
    text-overflow: ellipsis;
}
.chk {
    position: relative;
    width: 20px;
    height: 20px;
    left: 30px;
    /* top: 3.5px; */
    opacity: 1;
    z-index: 1;
}

/* 해당 todo박스호버시 아이콘이 보임 */
.todo-list:hover .info {
    position: absolute;
    display: block;
    /* 흰색 필터 */
    /* filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(306deg) brightness(105%) contrast(105%); */
    /* 파란색 필터 #3399ff*/
    filter: invert(48%) sepia(35%) saturate(2946%) hue-rotate(192deg) brightness(103%) contrast(102%);
    left: 535px;
    font-size: 24px;
    z-index: 5;
}
.info {
    display: none;
}
.todo-list:hover .info:hover {
    cursor: pointer;
}

.chk:checked {
    accent-color: #67c23a;
}
/* 완료 체크시 색상변경 */
.complete-color {
    animation: changecolor 1.5s ;
}
@keyframes changecolor {
    0% {

    }
    10% {
        background-color: #67c23a;
        opacity: 1;
    }
    15% {
        background-color: #67c23a;
        opacity: 0.9;
    }
    100% {
        background-color: #67c23a;
        opacity: 0.9;
    }
}
/* 완료시 퇴장 애니메이션 */
.complete {
    animation: out 1.5s ease-in-out;
}
/* 완료시 퇴장 애니메이션 */
@keyframes out {
    0% {
        right : 0px;
        opacity: 1;
    }
    50% {
        right : 0px;
        opacity: 1;
    }
    100% {
        right: -500px;
        opacity: 0;
    }
}

