/* 수평줄 */
.horizontal-box {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.horizontal {
    width: 100%;
    border-top: 2px var(--color-main) solid;
}

/* todoOne 모달 */
.modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    backdrop-filter: blur(3.5px);
    background-color: rgba(0, 0, 0, 0.15);
    display: none;
    justify-content: center;
    /* align-items: center; */
    z-index: 5;
}
.todo-one {
    position: absolute;
    width: 400px;
    padding: 1.5rem;
    background-color: var(--color-background);
    box-shadow: var(--shadow);
    border-radius: 12px;
    z-index: 10;
    top: 22.5%;
    color: var(--color-text);
    /* animation: scaleup 0.25s; */
}
/* 모달창 확대 애니메이션 */
@keyframes scaleup {
    from {
        transform: scale(0);
    } 
    to {
        transform: scale(1);
    }
}
/* 모달창 축소 애니메이션 */
@keyframes scaledown {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}
#title {
    padding-left: 7px;
}
/* memo div에 placeholder 만들기 */
[contenteditable=true]:empty:before{
    content: attr(placeholder);
    color: var(--color-main);
    display: block; /* For Firefox */
}
#memo {
    margin-top: 5px;
    font-weight: 600;
    /* height: 170px; */
    /* min-height: 20px; */
    outline: none;
    padding: 8px;
}
#memo:hover {
    cursor: text;
    /* background-color: red;
    border-radius: 5px; */
}
#memo:focus {
    background-color: var(--color-text-field);
    border-radius: 4px;
}

/* 삭제 버튼 */
#delete {
    margin-top: 12px;
    text-align: center;
    padding-top: 7px;
    /* width: 100px; */
    height: 25px;
    color: var(--color-point1);
    border-radius: 4px;
}
#delete:hover {
    cursor: pointer;
    background-color: var(--color-point1);
    color: white;
    font-weight: 500;
    box-shadow: var(--shadow);
    transition: all 0.3s;
}

/* 옵션 박스 */
.detail {
    /* display: flex;
    justify-content: left; */
}
/* 우선순위 박스 */
.important-box {
    width: 105px;
    display: flex;
    justify-content: left;
    position: relative;
    margin-top: 7px;
}

.toggle-btn {
    /* width: 100px; */
    line-height: 30px;
    padding: 0 10px;
    border: 0;
    border-radius: 4px;
    background-color: transparent;
    color: var(--color-main);
}
.toggle-btn-on {
    background-color: var(--color-main);
    color: white;
    box-shadow: var(--shadow);
}
.toggle-btn:hover {
    cursor: pointer;
    background-color: var(--color-main);
    color: white;
    box-shadow: var(--shadow);
    transition: all 0.3s;
}
.selectbox-option {
    position: absolute;
    left: 120px;
    /* top: 0px;
    height: 30px; */
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    width: 0px;
    border: 0;
    border-radius: 4px;
    background-color: white;
    color: var(--color-main);
    box-shadow: var(--shadow);
    transition: all 0.3s;
}
.selectbox-option-on {
    width: 280px;
}

.option-btn {
    /* width: 100%; */
    /* overflow-x: hidden; */
    width: inherit;
    line-height: 30px;
    height: 30px;
    border: 0;
    background-color: transparent;
    border-radius: 4px;
    z-index: 16;
}
.option-btn:hover {
    background-color: var(--color-main);
    color: white;
    cursor: pointer;
}

/* 날짜 박스 */
.day-box {
    display: flex;
    justify-content: left;
    margin-top: 7px;
}
.days-btn {
    line-height: 30px;
    padding: 0 10px;
    border: 0;
    border-radius: 4px;
    background-color: transparent;
    color: var(--color-main);
}
/* 목표일 삭제버튼 */
#btnGoalDelete {
    position: absolute;
    top: -10px;
    width: 20px;
    height: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    z-index: 12;
    box-shadow: var(--shadow);
}
.days-btn:hover + #btnGoalDelete:not(.disabled) {
    display: flex;
}
#btnGoalDelete:hover {
    display: flex;
    cursor: pointer;
    background-color: var(--color-point1);
}
.icon-close {
    filter: invert(65%) sepia(6%) saturate(3037%) hue-rotate(301deg) brightness(102%) contrast(104%);
}
#btnGoalDelete:hover > .icon-close {
    filter: invert(98%) sepia(6%) saturate(476%) hue-rotate(229deg) brightness(117%) contrast(100%);
}

.month-option {
    position: absolute;
    left: 120px;
    top: 30px;
    overflow: hidden;
    width: 140px;
    height: 0;
    border: 0;
    border-radius: 4px;
    background-color: white;
    color: var(--color-main);
    box-shadow: var(--shadow);
    /* z-index: 2; */
    transition: all 0.4s;
}
.month-option-on {
    height: 150px;
    overflow-y: scroll;
}
.day-option {
    position: absolute;
    left: 260px;
    top: 30px;
    overflow: hidden;
    width: 140px;
    height: 0;
    border: 0;
    border-radius: 4px;
    background-color: white;
    color: var(--color-main);
    box-shadow: var(--shadow);
    /* z-index: 2; */
    transition: all 0.4s;
}
.day-option-on {
    height: 150px;
    overflow-y: scroll;
}
.month-btn {
    display: block;
    width: 100%;
    line-height: 30px;
    border: 0;
    background-color: transparent;
    border-radius: 4px;
    z-index: 11;
}
.month-btn:hover {
    background-color: var(--color-main);
    color: white;
    cursor: pointer;
}
.day-btn {
    display: block;
    width: 100%;
    line-height: 30px;
    border: 0;
    background-color: transparent;
    border-radius: 4px;
    z-index: 11;
}
.day-btn:hover {
    background-color: var(--color-main);
    color: white;
    cursor: pointer;
}
/* .day-option {
    position: fixed;
    background-color: red;
    left: 0;
    top: 0;
    width: 100px;
    height: 120px;
    overflow-y: scroll;
} */
.daybox-option {
    position: absolute;
    left: 120px;
    /* height: 0; */
    display: flex;
    justify-content: right;
    overflow: hidden;
    width: 0px;
    border: 0;
    border-radius: 4px;
    background-color: white;
    color: var(--color-main);
    box-shadow: var(--shadow);
    transition: all 0.3s;
}
.daybox-option-on {
    width: 280px;
}
.days-btn {
    width: inherit;
    line-height: 30px;
    border: 0;
    background-color: transparent;
    border-radius: 4px;
    z-index: 11;
}
.days-btn:hover {
    background-color: var(--color-main);
    color: white;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: var(--shadow);
}
.days-btn-on {
    background-color: var(--color-main);
    color: white;
    box-shadow: var(--shadow);
}

/* select 같은 모달용 */
.modal-transparent {
    width: 100%;
    height: 100%;
    display: none;
    background-color: transparent;
    position: fixed;
    top: 0;
    z-index: 5;
}

/* 삭제 다이얼로그 */
.modal-confirm {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.15);
    display: none;
    justify-content: center;
    /* align-items: center; */
    z-index: 5;
}
.delete-dialogue {
    position: fixed;
    top: 0px;
    width: 300px;
    height: 60px;
    padding: 20px;
    background-color: var(--color-background);
    box-shadow: var(--shadow);
    border-radius: 8px;
    z-index: 21;
    color: var(--color-text);
    transform: translateY(30px);
    animation: deleteslidedown 0.4s ease-in-out;
}
@keyframes deleteslidedown {
    from {
        transform: translateY(-120px);
    }
    to {
        transform: translateY(30px);
    }
}

.box-confirm {
    display: flex;
    justify-content: right;
    margin-top: 5px;
}
.btn-dialogue {
    width: 60px;
    height: 30px;
    border: 0;
    margin: 5px;
    border-radius: 4px;
    box-shadow: var(--shadow);
}
.btn-dialogue:hover {
    opacity: 0.7;
    cursor: pointer;
}
.btn-dialogue:active {
    transform: translateY(3px);
}
.btn-dialogue.cancer {
    background-color: white;
    color: var(--color-main);
}
.btn-dialogue.delete {
    background-color: var(--color-main);
    color: white;
}